.searchBar {
  position: sticky;
  top: 0;
  /* z-index: 40; */
  background: linear-gradient(
    90deg,
    rgba(139, 92, 246, 0.12) 0%,
    #ffffff 50%,
    rgba(139, 92, 246, 0.12) 100%
  );
  border-bottom: 1px solid rgba(139, 92, 246, 0.25);
  padding: 1rem;
  backdrop-filter: blur(4px);
}

.searchContainer {
  max-width: 32rem;
  margin: 0 auto;
  position: relative;
}

.searchInput {
  width: 100%;
  padding: 0.75rem 0.75rem 0.75rem 3rem;
  height: 3rem;
  font-size: 1.125rem;
  border: 2px solid rgba(139, 92, 246, 0.35);
  border-radius: 0.375rem;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(4px);
  transition: border-color 0.2s;
}

.searchInput:focus {
  outline: none;
  border-color: #8b5cf6;
}

.searchIcon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: #8b5cf6;
  font-weight: 500;
  font-size: 1.2rem;
}
