.pageContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 1rem;
  overflow-y: auto;
}
.floatingAction {
  position: fixed;
  bottom: 1.5rem;
  right: 20rem;
  /* z-index: 10; */
}

.actionBtn {
  height: 3.5rem;
  padding: 0 1.5rem;
  border-radius: 9999px;
  background: #8b5cf6;
  color: #ffffff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  transition: background-color 0.2s;
}

.actionBtn:hover {
  background: #7c3aed;
}
