/* freelancers.module.css */

.mainLayout {
  display: flex;
  min-height: calc(100vh - 4rem);
}

.mainContent {
  flex: 1;
  padding: 1.5rem;
  padding-right: 20rem;
}

.freelancerGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  max-width: 96rem;
  margin: 0 auto;
}
